body{
	margin: 0;
	font-family: 'consolas', sans-serif;
}

h1{
	margin: 0;
}

header{
	background: url(https://data.whicdn.com/images/174898700/original.png) center;
	height: 350px;
	width: 80%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-shadow: -3px 3px rgba(0, 0, 0, 1);
}

.summary{
	background: #efefef;
	border-top: 2px black solid;
}

.preamble{
	background: #ffffff;
	border-top: 2px black solid;

}

.explanation{
	background: #cb75e2;
	border-top: 2px black solid;
	padding-right: 15%;

}

.participation{
	background: url(https://c7.hotpng.com/preview/299/534/411/cat-kitten-pixel-art-pixels.jpg) 10%;
	background-size: 150px;
	border-top: 2px black solid;
}

.benefits{
	background: #ffffff;
	border-top: 2px black solid;
}

.requirements{
	background: #efefef;
	border-top: 2px black solid;
}



footer{
	background: url(https://kraski-zdes.ru/upload/iblock/15b/xcvet_bc_300_300.jpg.pagespeed.ic.gNMw2lGF2X.jpg) ;
	height: 150px;
	border-top: 2px black solid;
	text-align: center;
	width: 80%;
	font-size: 30px;
}

div:not(.main_supporting):not(.page-wrapper){
	right: 0;
	font-size: 15px;
	padding: 10px;
	width: 77.5%;

}


.wrapper{
	right: 0;
	top: 0;
	position: fixed;
	background: cyan;
	max-width: 20%;
	height: 100%;
	overflow: auto;
	box-shadow: -7px 7px rgba(0, 0, 0, 1);
}

.main_supporting{
	padding: 0;
}

.extra1, .extra2, .extra3, .extra4, .extra5, .extra6{
	display: none;
}

.design-selection .design-name, .zen-resources a, li.viewall a {
	display: block;
	margin-bottom: 0.25em;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.2em;
	font-style: normal;
	text-transform: uppercase;

}

ul{
	list-style-type: none;
}

li{
	padding: 5px;
	margin: 15px 0;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
}

a{
	text-decoration: none;
}

.zen-validate-html{
	color: coral;
}